.form {
  background: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 40px 20px 40px;
  gap: 30px;
  height: 88vh;
}

.form h2 {
  font-size: 28px;
  text-align: center;
  color: #2f4f4f;
}

.formGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .form h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .form h2 {
    font-size: 20px;
  }

  .formGroup input {
    max-width: 190px;
  }
}
