@media screen and (max-width: 1200px) {
  .sidebar {
    width: 50% !important;
  }
}

@media screen and (max-width: 900px) {
  .sidebar {
    width: 100% !important;
    height: 40vh !important;
    margin-bottom: 20px;
    overflow: auto;
  }
}

.sidebar {
  position: relative;
  width: 40%;
  height: 100vh;
  background: #dcdcdc;
}

.sidebarList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
  padding: 20px;
}

.sidebarList a {
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 8px 15px;
  background-color: #778899;
  color: #fff;
  border-radius: 5px;
}

:global(.active) {
  background-color: #2f4f4f !important;
}
